---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=866ed33741e8c704846e8d0c12775166&lat=-20&lon=40&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":-20,"lon":40,"timezone":"Etc/GMT-3","timezone_offset":10800,"current":{"dt":1660116242,"sunrise":1660103107,"sunset":1660143948,"temp":75.34,"feels_like":75.87,"pressure":1021,"humidity":70,"dew_point":64.89,"uvi":4.66,"clouds":0,"visibility":10000,"wind_speed":9.69,"wind_deg":136,"wind_gust":10.13,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.13}},"hourly":[{"dt":1660114800,"temp":75.34,"feels_like":75.87,"pressure":1021,"humidity":70,"dew_point":64.89,"uvi":4.66,"clouds":0,"visibility":10000,"wind_speed":9.69,"wind_deg":136,"wind_gust":10.13,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.36,"rain":{"1h":0.13}},{"dt":1660118400,"temp":75.38,"feels_like":75.9,"pressure":1021,"humidity":70,"dew_point":64.92,"uvi":6.87,"clouds":0,"visibility":10000,"wind_speed":9.28,"wind_deg":129,"wind_gust":9.64,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.24,"rain":{"1h":0.13}},{"dt":1660122000,"temp":75.56,"feels_like":76.01,"pressure":1021,"humidity":68,"dew_point":64.26,"uvi":8.1,"clouds":0,"visibility":10000,"wind_speed":7.47,"wind_deg":124,"w[...]
